/* DOCUMENT LEVEL DOCUMENT LEVEL DOCUMENT LEVEL */
body {
    font-size: larger;
}

h1 {
    font-size: large;
}

nav {
    padding-bottom: 1%;
}

nav a {
    display: grid;
    text-align: center;
    margin-bottom: 2%;
    width: auto;
}

.bigpic {
    height: auto;
    width: auto;
}

/* INDEX PAGE INDEX PAGE INDEX PAGE INDEX PAGE INDEX PAGE INDEX PAGE INDEX PAGE INDEX PAGE */
#index main {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-gap: 0%;
    justify-content: center;
    align-content: center;
}

#index .new {
    grid-row: 1/2;
    grid-column: 1/2;
}

#index .sale {
    grid-row: 2/3;
    grid-column: 1/2;
}

#index .about {
    grid-row: 3/4;
    grid-column: 1/2;
    padding: 0% 10% 0% 10%;
}



/* MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN MEN */
#men main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 0%;
    justify-content: center;
    align-content: center;
}

#men .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#men .item2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#men .item3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#men .item4 {
    grid-column: 1/2;
    grid-row: 4/5;
}

#men .item5 {
    grid-column: 1/2;
    grid-row: 5/6;
}



/* WOMEN WOMEN WOMEN WOMEN WOMEN WOMEN WOMEN WOMEN WOMEN WOMEN WOMEN WOMEN WOMEN WOMEN WOMEN WOMEN WOMEN */
#women main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 0%;
    justify-content: center;
    align-content: center;
}

#women .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#women .item2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#women .item3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#women .item4 {
    grid-column: 1/2;
    grid-row: 4/5;
}

#women .item5 {
    grid-column: 1/2;
    grid-row: 5/6;
}



/* FORM PAGE FORM PAGE FORM PAGE FORM PAGE FORM PAGE FORM PAGE FORM PAGE FORM PAGE */
#form main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0%;
    justify-content: center;
    align-content: center;
}

#form .form-actual {
    grid-column: 1/3;
    grid-row: 3/4;
}

#form .form-info {
    grid-column: 1/3;
    grid-row: 2/3;
}

#form .pic {
    grid-column: 1/3;
    grid-row: 4/5;
}

/* FORM 2 PAGE FORM 2 PAGE FORM 2 PAGE FORM 2 PAGE FORM 2 PAGE FORM 2 PAGE FORM 2 PAGE FORM 2 PAGE */
#review main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0%;
    justify-content: center;
    align-content: center;
}

#review .form-actual {
    grid-column: 1/3;
    grid-row: 3/4;
}

#review .form-info {
    grid-column: 1/3;
    grid-row: 2/3;
}

#review .pic {
    grid-column: 1/3;
    grid-row: 4/5;
}

/* FORM 3 PAGE */
#guitarForm main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0%;
    justify-content: center;
    align-content: center;
}

#guitarForm .form-actual {
    grid-column: 1/3;
    grid-row: 3/4;
}

#guitarForm .form-info {
    grid-column: 1/3;
    grid-row: 2/3;
}

#guitarForm .pic {
    grid-column: 1/3;
    grid-row: 4/5;
}